/*
Based on:
CSS-file for three column layout 2006
http://www.savio.no/
Developed by Eivind Savio
*/
* /*Set's border, padding and margin to 0 for all values*/
{
  padding: 0;
  margin: 0;
  border: 0;
}
body, html {
  color: #000; 
  font-family:  Verdana, Arial, Tahoma, sans-serif;

  background-color: #DDDDFF;
/*  background-color: #eee; */
  text-align: center; /*** Centers the design in old IE versions ***/
/*  height: 100%;*/
}
body {
  background-image: url('/images/layout/background.gif');
  background-attachment: fixed;
  background-repeat: repeat;
}

p {padding: 7px 0 7px 0;}

a {
  color: #95C951;
  text-decoration: none;
}
a:hover{
  color: #008800;
  text-decoration: none;
}
a:visited{ color: #95C951; }

hr {
  margin: 20px;
  border: 1px solid #C2C2C2;
}
h1, h2, h3 {
  font-weight: bold;
  padding-bottom: 5px;
  text-align: center;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h1 a, #header h2{
  color: black;
}
.clear { clear: both; }
#mainContainer {
  width: 920px;
  margin: 0 auto; /*** Centers the design ***/
  background: #CCCCFF;
  text-align: left; /*** Because we centered the text in body we have to move the text back to left aligning ***/
}
* html #mainContainer {
  height: 300px; /*** IE doesn't support min-height, but instead it handles height as min-height so we need to hack the height ***/
}
/**************************
HEADER
**************************/
#header {
  padding: 0px;
  background-image: url(/images/title_fade.png);
  background-attachment: fixed;
  background-repeat: repeat;
  height: 120px;
  }
#caption {
  margin: 0 auto;
  width: 755px;
}
/**************************
CONTENT AND COLUMNS
**************************/
.outer {
  margin-top: 0px; /*** We need to add some space for our top menu ***/
}
* html .outer {
  /*** No need for hacking IE on this layout ***/
}
.inner {
  /*** No need to do anything with a one column solution ***/
}
* html .inner {
  /***  And therefor no need for hacking IE either ***/
}
/*** div.inner is wider than its container, div.outer, and so overlaps to the right, pushing
div.right into the proper position. IE expands div.outer instead, requiring a Tan hack to avoid 
blowing the layout apart. IE gets the original 100% width as in the Livingstone layout.
***/
.float-wrap {
  float: left;

}
* html .float-wrap {
  /*** No need for hacking IE on this layout ***/
}
#content {
  float: left;
  width: 920px;
  min-height: 412px;
  background: #D0D0FF
}
* html #content {
  position: relative;  /*** IE needs this  ***/
}
.contentWrap {
  padding: 5px;
}
.contentWrap ol, .contentWrap ul {
  margin: 3px 0 5px 35px;
}
.contentWrap li {
  padding-bottom: 2px;
}
.fullCol {
  margin-left: 20px;
  margin-right: 20px;

}
.leftCol {
  float: left;
  width: 450px;
}
.rightCol {
  float: right;
  width: 450px;
}
.rightColb {
  float: right;
  width: 405px;
}
.rightCol img {
  float: right;
}
.col1 {
  float: left;
  width: 270px;
}
.col2 {
  float: left;
  width: 270px;
}
.col3 {
  float: left;
  width: 280px;
}

.col1a {
  float: left;
  width: 80px;
}
.col2a {
  float: left;
  width: 270px;
}
.col3a {
  float: left;
  width: 280px;
}
.col4a {
  float: left;
  width: 45px;
}
.col5a {
  float: left;
  width: 120px;
}

.leftCola {
  float: left;
  width: 450px;
  margin-left:20px;
}
.rightCola {
  float: right;
  width: 450px;
}

/**************************
LEFT COLUMN - this is our top menu
**************************/
/*** div.left is in div.float-wrap, and when div.float-wrap is neg margined to the left, 
div.left is carried over into the proper position. 
***/
#left {
  float: right;
  width: 750px;
  background: #fcc; 
  height: 40px;
  padding: 5px;
  margin: -50px 0 0 -920px; /*** Move the left column so it takes the positon as a top menu ***/
}
* html #left {
  position: relative;  /*** IE needs this  ***/

}
#left ul {
  list-style: none;
}
#left li {
  display: inline;
  padding-right: 15px;
}
/*************************
RIGHT COLUMN - This is our footer menu
**************************/
#right {
  float: left;
  width: 910px;
  background: #cfc;
  padding: 5px;
  height: 40px;
}
* html #right {
  position: relative;  /*** IE needs this  ***/
}
#right ul {
  list-style: none;
}
#right li {
  display: inline;
  padding-right: 15px;
}
/**************************
FOOTER
**************************/
#footer {
  width: 920px;
  margin: 0 auto;
  text-align: center;
}
#footer-content {
  margin-top: 200px;
  color: white;
}

