
input {
  border: 1px #444444 solid;
  padding: 5px;
  text-align: center;

}


input:focus, input:hover {
  color: #292929;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.lalign {
  text-align: left;
}

ul {
  list-style:none;
  margin:5px;
}


.submit:hover, .button:hover {
  background: #CCCCCC;
  color: black;
}

.query_form {
  text-align: center;
  width: 880px;
  background-image: url('/images/fade.png');
  background-position: top center;
  background-repeat: repeat-x;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  height: 61px;
}

#find_out_button {
  padding: 40px;
}

#help-link {
  width: 20px;
  height: 19px;
  padding: 5px;
  float: right;
  background-color: #ECECEC;
  color: #ACACAC;
  border: 1px #ACACAC solid;
  margin-right: 20px;
}
#help-link_a {
  width: 16px;
  height: 20px;
  padding: 5px;
  float: right;
  background-color: #ECECEC;
  color: #ACACAC;
  border: 1px #ACACAC solid;
  margin-right: 20px;
}

#form-caption {
  margin-top: 6px;
  font-size: 13px;
}

#flash_notice {
  background:white;
  color: black;
  border: 10px solid Blue;
}

#flash_error {
  background: Ivory;
  color: black;
  border: 10px solid DarkBlue;
}

#flash_error, #flash_notice {
  text-align: center;
  font-size: 18px;
  font-family: Lucida Grande,verdana,fixed,sans-serif;
  padding:10px;
	position: fixed;
  display:none;
/*  height:400px;*/
  width:400px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -204px; /* -height/2 0 0 -width/2 */
	filter:alpha(opacity=90);
	-moz-opacity: 0.90;
	opacity: 0.90;
}

.summary {
/*  float:left;*/
/*  display: inline;*/
/*  margin: 10px;
  padding: 10px;
  border: 10px solid SteelBlue;
  background: LavenderBlush;
*/
  font-size: 20px;
}

#your_summary {
  position:relative;
  top: 20px;
/*  left: 20px;*/
}

#friend_summary {
  position:relative;
  top: 20px;
  left: 0px;
}

#try_again {
  position: absolute;
  top: 110px;
  left: 880px;
}

#results_details {
/*  position: relative;*/
/*  top: 270px;*/
/*  left: 30px;*/
/*  bottom: 45px;*/
}

.twitter_name {
  color: Black;
}

.tweets {
/*  position: absolute;*/
/*  top: 340px;*/
  font-size: 14px;
/*  margin: 20px;*/
/*  margin-left:20px;*/
/*  border: 2px solid Grey;*/
/*  background: Ivory;*/
/*  padding: 10px;*/
/*  filter:alpha(opacity=90);*/
/*  -moz-opacity: 0.90;*/
/*  opacity: 0.90;*/
}

.tweets_container {
  height:128px;
}

/*a {text-decoration: none; color: #95C951;}*/
/*a:visited {text-decoration: none; color: #95C951;}*/

#filter_params input {
/*  font-size: 12px;*/
  padding: 0px;
  text-align:center;
  border: 1px solid Grey;
  color: #888888;
}

#filter_params {
  display: none;
  color: #888888;
}

#filter_params_r input {
/*  font-size: 12px;*/
  padding: 0px;
  text-align:center;
  border: 1px solid #AAAAAA;
  color: #666666;
}

#filter_params_r {
  color: #999999;
}

#inner_filter_params {
  font-size: 13px;
  margin-left: 20px;
  margin-right: 20px;
  height: 140px;
  padding-left: 20px;
/*  padding: 8px;*/
/*  background: LightPink;*/
/*  border: 5px solid DarkBlue;*/
/*  display:none;*/
/*  height:400px;*/
/*  position: fixed;*/
  width:900px;
/*  z-index:103;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  margin: -128px 0 0 -204px; /* -height/2 0 0 -width/2 */*/
/*  filter:alpha(opacity=90);*/
/*  -moz-opacity: 0.90;*/
/*  opacity: 0.90;*/
  text-align: center;
}

.fake_followers {
  font-size: 13px;
/*  background: Ivory;*/
/*  border: 2px solid Black;*/
  padding: 10px;
  margin-left:20px;
}

.fake_follower {
  padding:4px;
}

#featured_users {
/*  left:662px;*/
/*  position:relative;*/
/*  top:19px;*/
/*  border: 4px solid Brown;*/
  margin-left: 20px;
  height: 100px;
}

.genders {
    font-size: 12px;
    padding: 8px;
    background: LightPink;
    border: 5px solid DarkBlue;
    display:none;
  /*  height:400px;*/
    position: absolute;
    width:100px;
  	z-index:103;
/*    top: 50;*/
  	left: 50%;
  	margin: -128px 0 0 -50px; /* -height/2 0 0 -width/2 */
  	filter:alpha(opacity=90);
  	-moz-opacity: 0.90;
  	opacity: 0.90;
}

#request_time {
  color: #AAAAAA;
  font-size: 11px;
  margin-left: 20px;
}
